html {
    background-color: #716558;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 300px;
    /*width: 800px;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: Georgia, Times, serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}


@media screen and (min-width: 769px) {
    body {
        max-width: 600px;
    }
}

@media screen and (min-width: 991px) {
    body {
        max-width: 800px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    /*line-height: 1.3em;*/
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
    margin: none;
    max-width: 100%;
}

.recordCover{
    border: 10px solid rgba(0, 0, 0, 0.05);
    background: transparent;
    padding: none;
    margin-bottom: 10px;
}

.recordInfo{
    margin: auto;
    border: ;
    background-color: ;
    padding: ;
    color: ;
    font-family: ;
    font-size: ;
}

#nav {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
    text-decoration: none;

}

#nav li {
	/*height: 10%; /* 48px / 480px */
    list-style: none;
	text-decoration: none;

}

#nav a {
	height: 10%; /* 48px / 480px */
	display: block;
	color: #000;
	text-decoration: none;
    
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
